<app-header />

<main>
    <ul id="users">
        @for (user of users; track user.id)
        {
            <li>
                <app-user [user]="user" (selectedUser)="usuarioSeleccionado($event)"/>
            </li>
        }
    </ul>

    @if (user.id != "" && !newTask)
    {
        <app-tasks [user]="user" [userTasks]="userTasks" (userIdParaNewTask)="addNewTask($event)"></app-tasks>
    }
    @else if (newTask)
    {
        <app-addtask [userId]="userNewTaskId" (backToApp) = "backToApp()" (addNewTask) = "addTask($event)"></app-addtask>
    }
    @else
    {
        <p id="fallback">Select a user to see their tasks!</p>
    }
    
</main>